name: Generate and Publish Documentation
"on":
  release:
    types:
      - published
  workflow_dispatch: {}
env:
  FORCE_COLOR: "1"
concurrency:
  group: generate-publish
  cancel-in-progress: false
jobs:
  builddeploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: 2.2.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Enumerate dependencies
        run: nimble --silent deps > deps.txt
      - name: Cache Nimble packages
        uses: actions/cache@v5
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-${{ hashFiles('deps.txt') }}
      - name: Generate Documentation
        run: nimble docgen
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
permissions:
  contents: write
  pages: write
  id-token: write
